// .commenting {
//   color: blue;
//   font-family: sans-serif;
//   margin-right: -5em;
//   position: absolute;
//   right:10%;
//   width: 35ch;
//   text-indent: 0;
// }


@import "editor/modernizer";

@import "editor/vars";
@import "editor/mixins";
@import "editor/base";

@import "editor/background";
@import "editor/logo";

@import "editor/typography";
@import "editor/headings";
@import "editor/blockquote";
@import "editor/list";
@import "editor/table";

@import "editor/images";
@import "editor/footnotes";

@import "editor/chains";
@import "editor/buttons";
@import "editor/code";

@import "editor/weblayout";
@import "editor/cards";

@import "editor/mediaQuerries";
