meta(charset="utf-8")
title= title
meta(name="description", content="#{ description }")
meta(name="author", content="#{ name }")
meta(name="handheldfriendly", content="true")
meta(name="mobileoptimized", content="320")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(http-equiv="cleartype", content="on")
meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
link(href="https://fonts.googleapis.com/css?family=Spectral:400,400i,600,600i,900,900i" rel="stylesheet")
link(rel="stylesheet" href="https://code.cdn.mozilla.net/fonts/fira.css")
link(rel="stylesheet", href="/js/prism/prism.css")
link(rel="stylesheet", href="/css/editor.css")
script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js"   integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous")
