//- This shows the what’s next link automatically,
//- but probably needs to use a for loop instead of
//- a foreach so it can go to the next category


    
if next 
  p.center And let’s talk about 
    a(href="/docs/#{current.path[1]}/#{ nexturi }.html")= next
