script.
    $( "#active" ).click(function() {
        $( "#show" ).toggleClass('active');
        $( "#active" ).toggleClass('button-active');
        $("#active").toggleClass('rotateON');
        $("#active").toggleClass('rotateOFF');
    });


//- prism highlighter
script(src="/js/prism/prism.js")

//- resize text will come later
//- script.
//-   function resizeText(multiplier) {
//-     if (document.body.style.fontSize == "") {
//-       document.body.style.fontSize = "20px";
//-     }
//-     document.querySelector('main').style.fontSize = parseFloat(document.body.style.fontSize) + (multiplier * 2) + "px";
//-   }

//-   $("plustext").addEvent("click", function() {
//-     resizeText(2);
//-   });
//-   $("minustext").addEvent("click", function() {
//-     resizeText(-2);
//-   });


//- hide show TOC in menu

script.
  const headLvl1 = document.querySelectorAll('nav > ul > li');
    headLvl1.forEach(li => li.addEventListener('click', toggleOpen));
  function toggleOpen() {
    this.classList.toggle('hidden')
  }
  
script.
  const buttons = document.querySelectorAll('.filter-button');
  buttons.forEach(filt => filt.addEventListener('click', function(){ 
      this.classList.toggle('filterit');
  }))

script.
  const logopush = document.querySelector('#footer-button');
  const foot = document.querySelector('#footer');
  logopush.addEventListener('click', function() {foot.classList.toggle('logoshow');
  logopush.classList.toggle('footON') });