
body {
    background: $color-background;
}

main {
    background: $color-back;
    padding: 2em;
    color: $color-text;
}

$max: 100;
$colorSwitch: 1;
@for $i from 1 to $max {
    $height: 0.60 + random(1) + em;
    $height: 4em;
    $colorSwitch: random(3);
    $posY: 50%;
    $posX: 50%;
    // $posY: random(100) + %;
    // $posX: random(100) + % ;
    $rotate: random(360) + deg;
    @if $colorSwitch==1 {
        .ribbon-#{$i} {
            background: $color-1;
            height: $height;
            top: $posY;
            left: $posX;
            transform: rotate($rotate) translate(-50%);
            border: 3px solid $color-background;

        }
    }
    @if $colorSwitch==2 {
        .ribbon-#{$i} {
            background: $color-2;
            height: $height;
            top: $posY;
            left: $posX;
            transform: rotate($rotate) translate(-50%);
            border: 3px solid $color-background;

        }
    }
    @if $colorSwitch==3 {
        .ribbon-#{$i} {
            background: $color-3;
            height: $height;
            top: $posY;
            left: $posX;
            transform: rotate($rotate) translate(-50%);
            border: 3px solid $color-background;

        }
    }
    // @debug $i;
    // @debug $height;
    // @debug $colorSwitch;
    // @debug $posY;
    // @debug $rotate;
}

[class*='ribbon'] {
    position: fixed;
    z-index: -1;
    width: 1000%;
    transform-origin: top left;
    opacity: 0.45;

}
  

