/* blockquote */

// extracts are, for now,

blockquote {
    margin-left: 1.5em;
    p {
        font-size: 0.9em;
        text-indent: 0;

        .span-source-note {
            // color: grey;
            // border-bottom: 1px dashed grey;
        }

        &.source-note:before {
                content: "\2014";
                margin-right: 0.5em;
        }
    }
}


// to show the type of blockquote in the editor
blockquote:hover {
  &:before {
    // background: yellow;
    content: attr(class);
    color: grey;
    font-size: 0.7em;
    text-transform: uppercase;
    margin-left: -2.5em;
    margin-top: 0.6em;
    writing-mode: tb-rl;
    position: absolute;
    border-right: 1px solid grey;
    padding-right: 0em;
    line-height: 1.4;

  }
}


blockquote.poetry {
    // to keep the line breaks inside the poetry block quote. Also, make sure that the break dont disappear when saving the content
    p {
    white-space:pre-wrap
    }
    .source-note {
        white-space: initial;
    }
}


