// card system
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 4em;

    .card {
       
       
        flex: 0 1 calc(33% - 2em);
        font-size: 0.9em;

       
        padding: 0.2em;
        padding-bottom: 1em;
        margin-top: 3em;
        position: relative;
  a {
    
    }
    code {
    font-size: 0.9em !important;
    text-shadow: none !important;
    margin-bottom: 1em;
    text-transform: initial;
    background: transparent;
    padding: 0 ; 
}
        h2 {
          font-weight: 600;
            margin-top: 0;
            padding-left: 0;
            font-size: 1.2em;
            margin-bottom: 0;
            border-bottom:1px solid $color-1;

            & + p {
                margin-top: 0.5em;
            }
        }

        p {
            text-align: left;
            font-size: 0.9em;
            line-height: 1.4;
        }

        .type {
            font-family: $font-head;
            text-transform: uppercase;
            font-size: 0.7em;

            &:hover {
                font-weight: 600;
            }
        }

       
       
       
       

        .link {
          margin-top: 0.2em;
          a {
           
           
           

           
            background: $color-1;
            color: white;
            border-color: lighten($color-1, 20%);
            font-family: $font-head;
            padding: 0.1em 0.3em;
                font-weight: normal;
        text-shadow: none;
        font-size: 0.8em;
        }
      }
    }
}

@media screen and (max-width: 1000px) {
    .cards {
        .card {
            flex: 0 1 calc(50% - 2em);
        }
    }
}

@media screen and (max-width: 600px) {
    .cards {
        .card {
            flex: 0 1 calc(100%);
        }
    }
}

// type visual

.cards {
.client {
   .type code {
    color: $color-2; 

  }
  h2 {
    border-color: $color-1; 
  }
}

.server {
   .type code {
    color: $color-3; 

  }
  h2 {
    border-color: $color-3; 
  }

 }

.server.client {
 
   h2 {
    border-color: $color-3; 
  }
}
}

.sortable {
 
  font-family: $font-head;
    margin: 0 auto;

  .filters  {
    display: inline-block;
 
 
    margin: 0 auto;
    p {
      display: inline-block;
      margin-right: 1em;
    }

  }
  .filter-button {
       
        font-size: 0.7em;
    cursor: pointer;
    background: $color-1;
    display: inline-block;
    margin-right: 1em;
    padding: 0.3em 0.5em;
    color: black;
    background: lighten($color-1 , 30%);
    transition: background 0.8s color 0.8s;
    margin-left: 0.3em;
    &:first-of-type{
     
    }
  }

  .filterit {
    background: $color-1;
    color: white;

  }
  input {
    border: 0;
    border-bottom: 2px solid $color-1;

    &:focus {
      outline: 0;
    }
  }
  form {
    margin: 0 auto;
    text-align: center;
  }
  label {
    font-size: 0.8em;
    margin-left: 2em;
    margin-right: 0.5em;
  }
  .namefilter {
    margin-top: 1em;
  }
  .typefilter {
    margin-top: 0;
  }
}
