code,
code[class*="language-"],
pre[class*="language-"] {
    font-family: $font-mono;
    font-weight: 400;
}

pre[class*="language-"] {
    border: 0px;
    border-radius: 12px;
    background: darken($color-1, 42%);
    margin-top: 1em;
    margin-bottom: 1em;

    // padding-bottom: 2em;
    padding-bottom: 2em;

    &:hover {
        .toolbar {
            display: block;
        }
    }
}

code {
    font-size: 0.9em !important;
    text-shadow: none !important;
    margin-bottom: 1em;
    text-transform: initial;
    background: rgb(240,240,240);
    padding: 0 0.3em; 
}

.toolbar {
    display: none;
    position: absolute;
    text-align: right;
    margin-right: -6em;
    margin-top: 1em;

    a {
        background: white;
        color: darken($color-1, 42%);
        border: 2px solid darken($color-1, 42%);
        text-transform: uppercase;
        padding: 5px 10px;
        // border: none;
        font-size: 0.8em;
        letter-spacing: 2px;

        &:focus,
        &:hover {
            // border: none;
        }
    }
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
    background: transparent;
}

