// vars for the titles, since it depends on the font chosen for the headers.

$heading-lh : 1.2;

h1, h2, h3, h4, h5, h6 {
    font-family: $font-head;
    font-weight: 600;

    code {
        font-size: 1.1em;
        font-weight: 600;
    }
}



h1 {
    font-size: 3em;
    text-transform: lowercase;
    font-style: italic;
    // font-size: 2em;
    line-height: $heading-lh;
    margin-top: 1em;
    margin-bottom: 1.3em;
    // border-bottom: 1px solid black;
    text-align: left;
    text-align: center;
    display: block;
    // font-family: $font-text;

    // @include realBorder($color-1, white);
}

h2 {
    font-size: 1.4em;
    line-height: $heading-lh;
    margin-top: 2em;
    margin-bottom: 1.5em;
    border-bottom: 2px solid $color-1;
    font-weight: 600;



}

h3 {
    font-size: 1.2em;
    font-style: normal;
    font-weight: 600;
    // text-transform: uppercase;
    line-height: $heading-lh;
    margin-top: 2em;
    margin-bottom: 1em;
    // text-decoration: underline;
}

h4 {
    font-weight: 400;
    font-size: 1em;
    line-height: $heading-lh;
    margin-top: 3em;
    text-decoration: underline;

}

h5 {
    font-size: 1em;
    line-height: $heading-lh;
    margin-top: 3em;
        font-weight: normal;

}

h6 {
    font-size: 1em;
    line-height: $heading-lh;
    margin-top: 3em;
    font-weight: normal;
}




.intro {
    margin-top: 0;
    font-size: 1.8em;
    font-style: italic;
    line-height: 1.2;
    border-left: 2px solid $color-1;
    padding-left: 1em;
    margin-right: 8em;
    display: inline-block;
    text-align: right;
}