figure {
    width: 100%;
    margin: 2em 0;
    padding: 0;

    img {
        width: 100%;
        // height: 13em;

        // this is awesome, coz you can keep a lineheight with this.
        object-fit: cover;
        transition: height 2s;
        max-height: auto;
    }

    img:active {
        height: auto;
    }

    figcaption {
            font-size: 0.8em;
            margin-left: 0;
            max-width: 100%;
            text-align:left;
            max-width: 100%;

    }

}




// an idea for the buttons to handle images in the library
// figure {
//   position: relative;
//     .buttons {
//       position: absolute;
//       right: -3em;
//         button {
//             margin-top: 1em;
//             display: block;
//             width: 40px;
//             background: none;
//             border: 1px solid grey;
//             height: 40px;
//             border-radius: 50%;
//             padding-top: 0.1em;
//             font-family: "Fira sans";
//             // margin-right: -12em;

//         }


//     }
// }