// border bottom for headers
@mixin realBorder($color , $colorback) {
    background:  linear-gradient($colorback 0 , $colorback 1.2em , $color 1.2em, $color 1.25em , $colorback 1.25em ,$colorback 2em);
    text-shadow: 0.05em 0.05em 0 $colorback, -0.05em -0.05em 0 $colorback, -0.05em 0.05em 0 $colorback, 0.05em -0.05em 0 $colorback;
    background-repeat:no-repeat;
}