.splashscreen {
  background: $color-1;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left:0;
  font-family: $font-head;
  color: white;
}

$max : 15;
$colorSwitch: 1;



@for $i from 1 to $max {
  $colorSwitch: random(3);

  @if $colorSwitch == 1 {
    .ribbon-#{$i} {
      background: $color-1;
    }
  }
  @if $colorSwitch == 2 {
    .ribbon-#{$i} {
      background: $color-2;
    }
  }
    @if $colorSwitch == 3 {
    .ribbon-#{$i} {
      background: $color-3;
    }
  }
  @debug $i;
}

