/* paragraph */

p {
    // font-size: 1.1em;
    hyphens: auto;
    text-align: justify;
    margin: 0;
    text-indent: 0;
    margin-top: 1.3em;
}

a {
    // font-family: $font-head;
    // underline made using background with % and pix for the underline + nice white shadow to have overlapping underline
    padding-bottom: 0;
    line-height: 1;
    vertical-align: baseline;
    font-style: normal;
    color: $color-link;
    font-weight: inherit;
    text-decoration: none;
}

hr {
    border: 0;
    font-size: 1em;
    color: inherit;
    margin: 1.3em 0 2.45em;

    &:after {
        content: "* * *";
        height: 1em;
        text-align: center;
        display: block;
        margin: 0;
    }
}

pre {
    line-height: 1.3;
    font-size: 0.8em;
    background: white;
    padding: 0.2em 1em 0.2em;
    border: 1px solid grey;
    background: lightgrey;
}

strong,
b {
    font-weight: 700;
}

main a {
    // border-bottom: 1px solid $color-underline;
@include realBorder($color-2 , white);

    &:hover {
        background: lighten($color-2 , 27%);
        text-shadow: none;
    }
}

.center {
    text-align: center;
}