body {
    font-size: 20px;
    line-height: 1.9;
    font-family: $font-text, serif;
    font-weight: 400;
    background: $color-background;
    width: 80%;
    max-width: 90ch;
    margin: 0 auto;
    margin-top: 3em;
}

main {
    margin-bottom: 8em;
}

.nav {
    margin-bottom: 8em;
}

#show.active {
     .activatednext {
        // border-bottom: 8px solid white;
          a {
            &:before {
            content: " • ";
            // content: ">>  ";
margin-left: -1.2em;
            margin-right: 0.6em;    
                        background-color: $color-3;
            }  
          }
    }  
}

// menu inside the header
header {
    color: white;
    font-family: $font-head;
    border-left: none;
    background: $color-1;
    width: 20em;
    z-index: 4000;
    display: block;
    position: fixed;
    top: 0;
    height: 100vh;
    left: -22em;
    padding: 1em 3em 6em 1em;
    font-size: 0.7em;
    overflow-y: auto;
    transform: translateY(-10vh) skewY(12deg) rotateY(-12deg) ;
    transition: left 0.5s ease , transform 0.5s, background 0.6s, color 0.3s;

    .activatednext {
        // border-bottom: 8px solid white;
          a {
            &:before {
            content: " • ";
            background-color: $color-1;
                content: " • ";
            margin-left: -1.2em;
            margin-right: 0.6em;    
            }  
          }
    }
     
    .hidden li {
        display: none;
    }

    .hidden {
        border-bottom: 1px solid white;

        li:before {
            content: '>';

            // display: inline;
            // width: 1em;
            // margin-left: 1em;
            // height: 1em;
       
        }
    }

    h1 {
        background: none;
        margin-top: 1em;
        margin-bottom: 2em;
        display: block;
        text-align: left;
        font-size: 1em;
        text-transform: uppercase;
    }

    ul {
        list-style-type: none;
        margin-left: 1em;
        margin-top: 0;
        margin-top: 1em;

        li {
            margin-top: 3em;
            cursor: pointer;
        }
    }

    ul ul {
        list-style-type: none;
        border-left: 1px solid white;
        transition: all 1s ease;

        li {
            line-height: 1.5;
            margin-top: 0.5em;
            border-bottom: 1px solid white;

            a {
                padding: 0.5em 1em;
                background: transparent;
            }
        }
    }

    ul:first-of-type {
        margin-bottom: 1em;
    }

    a {
        display: block;
        text-shadow: none;
        font-style: normal;

        // background: white;

        &:hover {
            background: lighten($color-3, 40%);
        }

        text-shadow: none;
    }
}

.active {
    left: 0 !important;
    transform: none !important ;
    background: $color-3 !important;

}

#active {
    font-size: 1em;
    background: $color-3;
    font-family: $font-text;
    border: 0;
    width: 3em;
    height: 3em;
    left: 20em;
    border-radius: 50%;
    top: 4em;
    position: fixed;
    z-index: 4001;
    color: white;

    border: 2px solid white;
    overflow: hidden;
    transition: left  0.9s, transform 1.5s, background 0.6s, color 0.3s;


    &:focus {
        outline: -webkit-focus-ring-color auto 0px;
    }

    &:hover {
        background: $color-3;
        border: 2px solid $color-3;
        padding: 0.1em;
        background-clip: content-box;
        background-color: $color-3;
        color: white;
    }
}


.rotateON {
    transform: rotate(360deg);
    transition: transform 0.6 ease;
}

.rotateOFF {
    transform: rotate(180deg);
    transition: transform 0.6 ease;
 
}
.button-active {
    left: 0.5em !important;
}


// footer
footer {
    // display: block;
    // position: fixed;
    // bottom:0;
    // left:0;
    // width: 100%;
    // font-size: 0.8em;
    // padding-top: 1em;
    // background: lightgrey;

    .buttons {}
}

.resize {
    button {
        float: right;
        font-size: 16px !important;
        color: white;
        background: transparent;
        border: none;

        // padding: 1em;
        display: block;

        // margin-top: 1em;
        // width: 1em;
        cursor: pointer;
        overflow: hidden;

        &:focus {
            outline: -webkit-focus-ring-color auto 0px;
        }
    }
}





// scrollbar test



::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: white;
}

::-webkit-scrollbar
{
    width: 6px;
    background-color: $color-1;
}

::-webkit-scrollbar-thumb
{
    background-color: $color-3;
}



#footer-button {
    position: fixed;
    bottom: 1em;
    right: 3em;
    color: $color-2;
    width: 45px;
    max-height: 50px;
    // color:  white;
    border-radius: 50%;
    text-align: center;
    padding-top: 0.3em;
    cursor: pointer;

    transition: bottom 0.8s, transform 1s , color 0.3s;
    &.footON {
        bottom: 300px;
        // if it’s an heart
        animation: heart 0.6s infinite;
        // if its an arrow
        // transform: rotate(3600deg);
        // background: $color-1;
    }

}



@keyframes heart {
     from { transform:  scale(2); }
     to  { transform: scale(1.3); }
}

footer {
    border: 3px solid $color-2;
    background:white;
    // color: white;
    // display: none;
    position: fixed;
    bottom:-600px;
    right: 2em;
    max-width:150px;
    background-color: white;
    padding: 1em;
    transition: bottom 0.8s;
    border-radius: 20px;
    p {
        font-size: 0.6em;
        max-width: 20ch;
        font-family: $font-head;
        text-align: left;
        line-height: 1.2;
    }
    svg {
        * {
            fill: $color-2 !important;
        }
    }
    svg:hover {
        * {
            cursor: pointer;
            fill: $color-3 !important;
        }
    .logo {
        &:hover {
            border-bottom: 3px solid white;
        }
    }
    }
}


.logo {
    margin-top: 1em;
}

.logoshow {
    bottom: -20px;
}

