
      
:markdown
  # Component library
  
//- .sortable
  .filters 
  form
    .typefilter
      label filter by type
      .filt-client.filter-button.filterit client
      .filt-server.filter-button.filterit server
    .namefilter
      label(for="filterit" value="") filter by package name 
      input#package-search(name="filerit" placeholder="package name")

.cards
  for package in packages
    .card(class= package.type[1] ? "#{ package.type[0]} #{ package.type[1]}" : "#{ package.type[0]} ")
      p.type
        code= package.type
      h2
        code= package.name 
      p.description=  package.description
      p.link
        a(href= package.url) GET IT HERE
        
